%tr.expense_row{'data-href' => expense_url(expense)}
  %td= expense.purpose
  %td
    .text-right= (expense.income? ? '+ ' : '- ') + expense.amount_total.to_s + ' Yen'
  %td
    .text-right= expense.payday
  %td
    .text-right= expense.responsible
