%tr.expense_row{'data-href' => expense_url(expense)}
  %td= expense.purpose
  %td
    .text-right= expense.amount_total_to_s
  %td
    .text-right= expense.payday
  %td
    .text-right= expense.responsible
