%table.table.table-hover
  %thead
    %tr
      %th PURPOSE
      %th.text-right AMOUNT
      %th.text-right PAYDAY
      %th.text-right RESPONSIBLE
  %tbody
    - @expenses.each do |expense|
      = render expense
